h1, h6 {
    color: white;
    margin: 0%;
}

h6 {
    align-items: left;
}

body {
    background-color: rgb(50, 100, 120);
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    height: 100vh;
}

#container-card {
background-color: rgba(90, 90, 100, 0.5);
display: flex;
width: 25vw;
height: 50vh;
justify-content: center;
align-items: center;
border-radius: 8% 8% 8% 8%;
}

#container-dados{
    flex-grow: 1;
}

#container-botao {
    flex-grow: 0;
    height: 10vh;
    display: flex;
    align-items: end;
}

#usuario, #senha {
    color: white;
    font: bold15px arial,sans-serif;
}

#usuario-input, #senha-input {
    width: 20vw;
    height: 5vh;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
    border-bottom: 1%;
    border-color: white;
    margin-bottom: 3vh;
}

#botao-entrar {
height: 7vh;
background: #0066A2;
color: white;
padding: 5%;
border: none;
font: bold15px arial,sans-serif;
cursor: pointer;
}